<a class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="true">
    <img src="user_icon.png" alt="User icon" width="35" height="35" class="d-inline-block align-text-top" style="padding-right: 6px;">
  </a>
  <ul class="dropdown-menu ">
    <li><a class="dropdown-item" href="#">
      <img src="profile.svg" alt="Logout icon" width="20" height="20">
      Profile
    </a></li>
    <li><a class="dropdown-item" href="#">
      <img src="newPacient.svg" alt="Logout icon" width="20" height="20" style="padding-right: 6px;">
      New Pacient
    </a></li>
    <li><a class="dropdown-item" href="#">
      <img src="conf.svg" alt="Logout icon" width="20" height="20" style="padding-right: 6px;">
      Configuration
    </a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#" (click)="signOut()">
      <img src="sign_out.svg" alt="Logout icon" width="25" height="25" style="padding-right: 6px;">
      Sign Out
    </a></li>
  </ul>
</a>
