<!-- < id="notifications-card" class="offcanvas-body columns mb-1 border-round-left w-9"> -->
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <a class="col-md-4" href="pacient/{{alertInfo()!.id}}">
        <img src="https://placehold.co/200x200" class="img-fluid rounded-start" alt="Alert image placeholder">
      </a>
      <div class="col-md-8">
          <h5 class="card-title">{{alertInfo()!.namePacient}} </h5>
          <p class="card-text">Floor: {{alertInfo()!.floor}}</p>
          <p class="card-text">Room: {{alertInfo()!.room}}</p>
      </div>
    </div>
  </div>
<!-- </button> -->
